
.container{
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.image{
  object-fit: cover;
}

.content{
  display: flex;
  flex-direction: column;
  
}

.title{
  margin-bottom: 10px;
  
  word-break: break-all;
}

.desc{
  font-size: 18px;
  color: #999;
}


@media screen and (min-width:500px) and (max-width:900px){

  .mainContainer{
    margin-top: 50px;
  }
  .container{
    flex-direction: column-reverse;
    
  }
  .image{
    width: 170px;
    height: 180px;
  }
  .content{
    align-items: center;
  }
  .title{
    font-size: 23px;
  }
  .desc{
    font-size: 16px;
    
  }
}
@media screen and (max-width:499px) {
  .mainContainer{
    margin-top: 50px;
  }
  .container{
    flex-direction: column-reverse;
    
  }
  .image{
    width: 150px;
    height: 160px;
  }
  .content{
    align-items: center;
  }
  .title{
    font-size: 20px;
  }
  .desc{
    font-size: 15px;
    
  }
 
}